.create-form {
    margin:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
}

.create-form mat-form-field {
    width: 30%;
}

.button-section {
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    margin-bottom: 5%;
}

form {
    background-color: white;
    width: 45%;
}


mat-form-field {
    margin-top: 1%;
}

@media screen and (max-width: 900px) {
    .create-form mat-form-field {
        width: 50%;
    }

    .create-form {
        width:90%;
    }
}